body {
  background-color: lightblue;
}

hr {
  border-style: dashed;
  width: 100%;
}

h1 {
  color: darkblue;
}

img {
  height: 150px;
}

/*
  Learn about ID attribute and class attribute.
  Learn about div tag.
*/
#attribute{
  size: 50px;
}

.Goku{
  border: 3cm solid black;
  background-color:rgb(102, 0, 0);
  text-align: center;
}

.Vegeta{
  border: 3cm solid black;
  background-color: rgb(255, 0, 0);
  text-align: center;
}